#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

#grid-container {
  display: grid;
  grid-template-columns: repeat(250, 0.25rem);
  grid-template-rows: 0.25rem 0.25rem;
  grid-auto-rows: 0.25rem;
}

#palette {
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-template-rows: 1rem 1rem;
  gap: 5px;
}
