#grid-container {
  display: grid;
  grid-template-columns: repeat(250, 0.25rem);
  grid-template-rows: 0.25rem 0.25rem;
  grid-auto-rows: 0.25rem;
  /* gap: 1px; */
}

#palette {
  display: grid;
  grid-template-columns: 1rem 1rem;
  grid-template-rows: 1rem 1rem;
  gap: 5px;
}
